.AllApplicantContainer {
    display: flex;
    flex-direction: row;
}

.eachApplicantProfileData {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: .8px;
    height: 24rem;
    width: 20rem;
    align-items: center;
    position: relative;
}

.eachApplicantImage {
    border-radius: 100px;
    height: 5rem;
    width: 5rem;
    margin: 20px;
}

.eachApplicationContact {
    display: flex;
    flex-direction: row;
    gap:12px;
    margin-bottom: 10px;
}

.eachApplicationBio {
    height: 8.5rem;
    width: 16rem;
}

.eachApplicationBioP {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eachApplicationButton {
    position: absolute;
    bottom: 15px;
}