#application {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

/* 
.applicationMainContainer {
    width: 100vw;
    height: 100vh;
} */

.container button {
    background-color: rgba(0,0,0,0);
    border-width: 1px;
    border-style: none;
}