.exploreContainer {
    padding-left:14rem;
    padding-right:14rem;
    display:flex;
    flex-direction:column;
}

.explorePage hr {
    margin-left:8rem;
    margin-right:8rem;
    margin-top:.2rem;
}

.exploreTitle {
    justify-self: flex-end;
}

.exploreTitleSession {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.postLink {
    text-decoration: none;
}

.postButton {
    border-radius: 5px;
    border-width: 1.7px;
    background-color: cornflowerblue;
    color: white;
    height: 3rem;
}

.postButton:hover {
    background-color: dodgerblue;
}


.exploreFilter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;
}

.exploreFilter p {
    color: grey;
}

.votesOfProjects {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: flex-end;
}

.alltags {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
    overflow: scroll;
}

.allProjectsContainer {
    display: flex;
    flex-direction: column;

}

.tags {
    border-style: solid;
    border-radius: 5px;
    height: 1.5rem;
    color:grey;
    display: flex;
    flex-direction: row;
    background-color:aliceblue;
    padding-left: .7rem;
    padding-right: .7rem;
    align-items: center;
    margin-top: 4px;
}

.eachProject{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.rightDetail {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 4px;
}

.rightDetail img {
    height: 3rem;
    width: 3rem;
}

.detailForEachProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.createdUser {
    align-self: flex-end;
    font-size: 16px;
}

.eachSmallDetail {
    margin: 0px;
}

.titleLinkProject{
    color: black;
}

.titleLink {
    text-decoration: none;
}