.loginContainer {
    border-style: solid;
    border-width: 1px;
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    min-height: 32rem;
    text-align: center;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    border-radius: 20px;
    background-color: white;
}
.welcomeText {
    border-bottom-style: solid;
    border-width: 1.5px;
    margin-left: 55px;
    margin-right: 55px;
    padding-bottom: 7px;
}

.icons {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top:2rem;
}

.linkedin {
    font-size: 58px;
}

.email {
    font-size: 58px;
}

.github {
    font-size: 52px;
}

.wordBetweenLine {
   margin-top:3rem;
   font-size:20px;
}

.wordBetweenLine::before {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #000;
    width:43%;
    transform: translateY(-.3rem);
    margin-right:10px;
}

.wordBetweenLine::after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #000;
    transform: translateY(-.3rem);
    width: 43%;
    margin-left:10px;
}

.form {
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

.form input {
    margin-bottom: 18px;
    border-radius: 40px;
    border-width: 1.5px;
    padding-left: 14px;
    padding-right: 14px;
    text-align:center;
    height: 2.5rem;
}



.buttonContainer {
    display:flex;
    flex-direction:row;
    gap:4rem;
    margin-top:4px;
    justify-content:center;
}

.buttonContainer input {
    width: 10rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: #FAFE92;
}

.newHereText {
    margin-top:2rem;
}

.signupLink {
    color: blue;
    font-size: 20px;
}

.signupLink:hover {
    color: purple;
    font-size: 20px;
}