.loginIcon {
    font-size: 42px;
}

.profileIcon {
    font-size: 42px;
}

.NavBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
    align-items: flex-end;
}

.Title {
    display: flex;
    flex-direction: row;
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-end;
}

.Title p{
    margin: 0px;
}

.topRightLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.navLink {
    text-decoration: none;
    color: black;
}

.navLink:hover {
    cursor: pointer;
}

.userAvatar {
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
}