.ProjectPageHeaderDetail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
}

.ProjectPageHeader {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ProjectPageContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.ContentTags {
    border-style: solid;
    border-radius: 5px;
    color: grey;
    background-color: aliceblue;
    padding-left: .7rem;
    padding-right: .7rem;
    margin-top: 4px;
    justify-self: center;
    padding-bottom: .2rem;
    padding-top: .2rem;
}

.ContentTags p {
    margin: 0px;
}

.TagsContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: .5rem;

}

.mainContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    gap: 2rem;
}

.ProjectUserDetail {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
}

.ProjectUserDetail img {
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
}

.CommentBoxContainer {
    display: flex;
    flex-direction: column;
    padding-left: 9rem;
    padding-right: 12rem;
}
.CommentBox {
    resize: none;
    height: 14rem;
    font-size: 14px;
    padding-left: 4px;

}

.CommentBoxContainer p{
    margin: 0px;
}

.eachComment {
    display: flex;
    flex-direction: column;

    border-width: 1px;
    border-style: solid;
}

.eachComment img {
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
}

.CommentRightDetail {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.CommentContainer {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.CommentRightDetail div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aliceblue;
    align-items: center;
}

.CommentRightDetail div p{
    margin: 0px;
}

.commentText {
    padding-left: 5rem;
    padding-right: 5rem;
}

.CommentSessionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CommentSessionContainer p {
    font-size: 2rem;
    cursor: pointer;
}

.CommentSessionContainer p :active{
    cursor:progress;
    transform: translateY(3px);
}

.TitleAndApplyButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#application {
    position: fixed;
    left: 50%;
    top: 50%;

}

/* .applicationMainContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
} */