.signUpContainer {
    width: 28rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    height: 60vh;
}

.signUpContainer input{
    margin-left: 2rem;
    margin-right: 2rem;
    height: 27px;
}